# Social Projects Funding with Deep Learning

In [ ]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. 

Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [ ]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
# YOUR CODE HERE
df=pd.read_csv("/content/applicants_data.csv")
# Review the DataFrame
# YOUR CODE HERE
df.head()

,AIN,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Review the data types associated with the columns
# YOUR CODE HERE
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   AIN                     34299 non-null  int64
 1   APPLICATION_TYPE        34299 non-null  object
 2   AFFILIATION             34299 non-null  object
 3   CLASSIFICATION          34299 non-null  object
 4   USE_CASE                34299 non-null  object
 5   ORGANIZATION            34299 non-null  object
 6   STATUS                  34299 non-null  int64
 7   INCOME_AMT              34299 non-null  object
 8   SPECIAL_CONSIDERATIONS  34299 non-null  object
 9   ASK_AMT                 34299 non-null  int64
 10  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(7)
memory usage: 2.9+ MB

### Step 2: Drop the “AIN” (Applicant Identification Number) from the DataFrame, because it is not relevant to the binary classification model.

In [ ]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
# YOUR CODE HERE
df.drop('AIN', axis = 1, inplace = True)
# Review the DataFrame
# YOUR CODE HERE
df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables. 

Use `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [15]:
# Create a list of categorical variables 
# YOUR CODE HERE
#list(df.dtypes[df.dtypes == "object"].index)
# Display the categorical variables list
# YOUR CODE HERE
categorical_variables = list(df.dtypes[df.dtypes == "object"].index)
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [16]:
# Create a OneHotEncoder instance
# YOUR CODE HERE
enc = OneHotEncoder(sparse=False)

In [17]:
# Encode the categorical variables using OneHotEncoder
# YOUR CODE HERE
encoded_data = enc.fit_transform(df[categorical_variables])

In [18]:
# Create a DataFrame with the encoded variables
# YOUR CODE HERE
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)
# Review the DataFrame
# YOUR CODE HERE
encoded_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [19]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
# YOUR CODE HERE
numerical_variables_df = df.drop(columns = categorical_variables)

new_df = pd.concat(
    [
        numerical_variables_df,
        encoded_df
    ],
    axis=1
)

# Review the DataFrame
# YOUR CODE HERE
new_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets.

The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [20]:
# Define the target set y using the IS_SUCCESSFUL column
# YOUR CODE HERE
y = new_df["IS_SUCCESSFUL"]
# Display a sample of y
# YOUR CODE HERE
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [21]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
# YOUR CODE HERE
X = new_df.drop(columns=["IS_SUCCESSFUL"])
# Review the features DataFrame
# YOUR CODE HERE
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [22]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 0
# YOUR CODE HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [23]:
# Create a StandardScaler instance
# YOUR CODE HERE
scaler = StandardScaler()
# Fit the scaler to the features training dataset
# YOUR CODE HERE
X = scaler.fit_transform(X)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [24]:
# Define the the number of inputs (features) to the model
# YOUR CODE HERE
number_input_features = X.shape[1]
# Review the number of features
# YOUR CODE HERE
number_input_features

116

In [25]:
# Define the number of neurons in the output layer
# YOUR CODE HERE

In [27]:
# Define the number of hidden nodes for the first hidden layer
# YOUR CODE HERE
hidden_nodes_layer1 =  (number_input_features + 1) // 2 
# Review the number hidden nodes in the first layer
# YOUR CODE HERE
hidden_nodes_layer1

58

In [28]:
# Define the number of hidden nodes for the second hidden layer
# YOUR CODE HERE
hidden_nodes_layer2 = (hidden_nodes_layer1 + 1) // 2
# Review the number hidden nodes in the second layer
# YOUR CODE HERE
hidden_nodes_layer2

29

In [29]:
# Create the Sequential model instance
# YOUR CODE HERE
nn = Sequential()

In [30]:
# Add the first hidden layer
# YOUR CODE HERE
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [31]:
# Add the second hidden layer
# YOUR CODE HERE
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [32]:
# Add the output layer to the model specifying the number of output neurons and activation function
# YOUR CODE HERE
nn.add(Dense(units=1, activation="sigmoid"))

In [33]:
# Display the Sequential model summary
# YOUR CODE HERE
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [34]:
# Compile the Sequential model
# YOUR CODE HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [35]:
# Fit the model using 50 epochs and the training data
# YOUR CODE HERE
fit_model = nn.fit(X_train, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 19493.7246 - accuracy: 0.4829
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 13313.2705 - accuracy: 0.4979
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 22100.2715 - accuracy: 0.4964
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 12673.3760 - accuracy: 0.5128
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 12219.8428 - accuracy: 0.5107
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 26074.4199 - accuracy: 0.4932
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 15981.9248 - accuracy: 0.5027
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 13171.9297 - accuracy: 0.5080
Epoch 9/100
804/804 [==============================] - 3s 3ms/step - loss: 13734.9688 - accuracy: 0.4941
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 16468.5898 - accuracy: 0.5017
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 4694.2207 - accuracy: 0.5204
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 9788.3115 - accuracy: 0.5056
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 11002.4023 - accuracy: 0.5034
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 1719.3091 - accuracy: 0.5321
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 4196.0088 - accuracy: 0.5148
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 5415.1484 - accuracy: 0.5090
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 6056.3726 - accuracy: 0.5026
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 4146.8545 - accuracy: 0.5293
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 3049.1438 - accuracy: 0.5205
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 2919.1267 - accuracy: 0.4951
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 1075.4312 - accuracy: 0.5230
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 639.7908 - accuracy: 0.5108
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 176.0272 - accuracy: 0.5179
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 2.1393 - accuracy: 0.5350
Epoch 25/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6908 - accuracy: 0.5347
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6908 - accuracy: 0.5347
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6908 - accuracy: 0.5347
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6908 - accuracy: 0.5347
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6908 - accuracy: 0.5347
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5347
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 35/100
804/804 [==============================] - 3s 4ms/step - loss: 0.6908 - accuracy: 0.5347
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6908 - accuracy: 0.5347
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6908 - accuracy: 0.5347
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6908 - accuracy: 0.5347
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6908 - accuracy: 0.5347
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6908 - accuracy: 0.5347
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6908 - accuracy: 0.5347
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6908 - accuracy: 0.5347
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6908 - accuracy: 0.5347
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 50/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6908 - accuracy: 0.5347
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6908 - accuracy: 0.5347
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6908 - accuracy: 0.5347
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5347
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6908 - accuracy: 0.5347
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6910 - accuracy: 0.5347
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5347
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5347
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5347
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5347
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6910 - accuracy: 0.5347
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6910 - accuracy: 0.5347
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6910 - accuracy: 0.5347
Epoch 80/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 81/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6910 - accuracy: 0.5347
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6910 - accuracy: 0.5347
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6910 - accuracy: 0.5347
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6910 - accuracy: 0.5347
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6910 - accuracy: 0.5347
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6908 - accuracy: 0.5347
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6910 - accuracy: 0.5347
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6908 - accuracy: 0.5347

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [36]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
# YOUR CODE HERE
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)


# Display the model loss and accuracy results
# YOUR CODE HERE
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6918 - accuracy: 0.5256 - 533ms/epoch - 2ms/step
Loss: 0.6918360590934753, Accuracy: 0.5255976915359497

### Step 4: Save and export your model to an HDF5 file, and name the file `NNSocialGood.h5`.

In [37]:


h5File = "NNSocialGood.h5";
df.to_hdf(h5File, "/content");